// Style du header 
* {
    margin:0;
    padding:0;

    .header-admin {
        padding:0 12px;
        // position:fixed;
        z-index:2;
        width:100%;
        background:#111;
        box-sizing:border-box;
        border-bottom:1px solid #fff;
        
        .header-admin-title {
            color:#fff;
            line-height:50px;
            font-size:22px;
        }
        #header-admin-menu-button {
            position:absolute;
            top:0;
            right:0;
            width:50px;
            height:50px;
            overflow:hidden;
            background:#fff;
            color:#000;
            line-height:50px;
            text-align:center;
            font-size:40px;
            cursor:pointer;
            transition:all .5s;
        }
        #header-admin-menu-button::after {
            content:'x';
        }
        #header-admin-menu-button.close {
            color:#fff;
            background:#000;
        }
        #header-admin-menu-button.close::after {
            content:'≡';
        }
    }
    #header-admin-menu {
        transition:transfrom .5s;
        position:absolute;
        width:50%;
        max-width:200px;
        transform:translateY(-500px);
        top:0;
        ul {
            display:block;
            li {
                height:50px;
                line-height:50px;
                padding:0 12px;
                border-bottom:1px solid #777;
                background:#111;

                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 18px;
                    transition: 0.2s;
                }
                a:hover {
                    color: #ff9900; 
                }
            }
        }

    }
    #header-admin-menu.show-menu{
        transform:translateY(51px);
    }

    #manage-admin{ // Créer une class ou un main exclusif à la partie admin 
        max-width:800px;
        margin:0 auto;
        padding:20px;
        .modal 
        {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 3;
        }
    
        .modal-content 
        {
            background-color: white;
            width: 300px;
            padding: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 5px;
        }
        .album-toggle {
            cursor: pointer;
        }
        .album-dropdown {
            display: none;
        }  

    }
}
