/* Styles de base pour les formulaires d'édition */
.admin-form {
    max-width: 300px;
    padding: 20px;
    margin: auto;
    margin-top:40px;
    margin-bottom:40px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 10px 30px 0 rgba(25,46,59,.3);
    h2 {
        margin-bottom: 20px;
    }
    .form-errors {
        color: red;
        margin-bottom: 10px;
    }
    fieldset {
        border: none;
        label {
            display: block;
            padding-bottom:5px;
        }
        input
        select {
            width: 100%;
            padding: 10px;
            margin-top: 1em;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px; // Taille de police adaptée aux mobiles
        }
    }
    button[type="submit"] {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007BFF;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
        &:hover {
            background-color: #0056b3;
        }
    }
}

