.header-admin {
    padding:0 12px;
    // position:fixed;
    z-index:2;
    max-width:769px;
    background:#333;
    box-sizing:border-box;
    border-bottom:1px solid #333;
    
    .header-admin-title {
        line-height:50px;
        font-size:24px;
        margin-top:0; //Pour s'adapter au normalize.scss
    }
    #header-admin-menu-button {
        position:absolute;
        top:0;
        right:0;
        width:50px;
        height:50px;
        overflow:hidden;
        background:#fff;
        color:#000;
        line-height:50px;
        text-align:center;
        font-size:40px;
        cursor:pointer;
        transition:all .5s;
    }
    #header-admin-menu-button::after {
        content:'x';
    }
    #header-admin-menu-button.close {
        color:#fff;
        background:#333;
    }
    #header-admin-menu-button.close::after {
        content:'≡';
    }
}
#header-admin-menu {
    transition:transfrom .5s;
    position:absolute;
    width:50%;
    max-width:200px;
    transform:translateY(-500px);
    top:0;
    ul {
        display:block;
        list-style:none;
        padding-left:0; 
        li {
            height:50px;
            line-height:50px;
            padding:0 12px;
            border-bottom:1px solid #777;
            background:#333;

            a {
                text-decoration: none;
                color: #fff;
                font-size: 18px;
                transition: 0.2s;
            }
            a:hover {
                color: #ff9900; 
            }
        }
    }

}
#header-admin-menu.show-menu {
    transform:translateY(51px);
}
@media (min-width: 769px) and (max-width: 1024px) {
    .header-admin {
        max-width: 1024px;
    }
  }
  @media (min-width: 1024px) {
    .header-admin {
        max-width:none;
        width:100%;
    }
  }