// Satoshi //
@font-face {
    font-family: 'Satoshi-Regular';
    src: url('/ZERODEGRE_/assets/fonts/Satoshi-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi-Italic';
    src: url('/ZERODEGRE_/assets/fonts/Satoshi-Italic.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: italic;
  }
  @font-face {
    font-family: 'Satoshi-Bold';
    src: url('/ZERODEGRE_/assets/fonts/Satoshi-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi-Black';
    src: url('/ZERODEGRE_/assets/fonts/Satoshi-Black.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: normal;
  }

  // Libre Carlson Text //
  @font-face {
    font-family: 'LibreCaslonText-Regular';
    src: url('/ZERODEGRE_/assets/fonts/LibreCaslonText-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }
  @font-face {
    font-family: 'libreCaslonText-Italic';
    src: url('/ZERODEGRE_/assets/fonts/libreCaslonText-Italic.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: italic;
  }
  @font-face {
    font-family: 'libreCaslonText-Bold';
    src: url('/ZERODEGRE_/assets/fonts/libreCaslonText-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: bold;
  }