
$font-text-primary: 'Satoshi-Regular', sans-serif;
$font-text-italic: 'Satoshi-Italic', sans-serif;
$font-text-bold: 'Satoshi-Bold', sans-serif;

$font-title-primary: 'Evogria', sans-serif;
$color-text:#ffcaca;
$base-font-size: 1em;

$partials-color:#EDEEE9;
$input-color:#EFECE5;
$background-gradient: linear-gradient(0deg, rgba(21,19,42,1) 0%, rgba(60,76,173,1) 58%);



