@charset "UTF-8";
.footer {
  background-color: #333;
  height: 100px;
  width: 100%;
}
.footer .footer-container {
  width: 90%;
  height: 100%;
  display: flex;
  margin: 0 5%;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer .footer-container {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .footer .footer-container .footer-logo {
    margin-right: auto;
  }
}
.footer .footer-container .footer-logo h1 {
  margin-top: 20px;
  font-size: 10px;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .footer .footer-container .footer-logo h1 {
    font-size: 18px;
  }
}
@media screen and (min-width: 1024px) {
  .footer .footer-container .footer-logo h1 {
    font-size: 24px;
  }
}
.footer .footer-container .footer-nav a {
  font-size: 8px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .footer .footer-container .footer-nav a {
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .footer .footer-container .footer-nav a {
    font-size: 18px;
  }
}
.footer .footer-container .social-media {
  margin: 20px auto;
}

.main-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}
.main-post .post-title {
  max-width: 800px;
  margin: 0 auto 20px;
}
.main-post .post-title h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}
.main-post .post-title p {
  font-size: 16px;
  color: #777;
  margin-bottom: 20px;
}
.main-post .post-title p span {
  font-weight: bold;
}
.main-post .section-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-post .section-post .article-post {
  max-width: 300px;
  margin: 20px;
  padding: 10px;
  background-color: #f0d0d0;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.main-post .section-post .article-post img {
  max-width: 100%;
}
.main-post .section-post .article-post h3 {
  font-size: 1.5rem;
}
.main-post .section-post .article-post p {
  font-size: 1rem;
  margin-top: 5px;
}
.main-post .section-post .article-post .show-post {
  background-color: #f9d8d8;
  color: #333;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
  display: block;
  margin-top: 10px;
  text-align: center;
  border-radius: 10px;
}
.main-post .section-post .article-post .show-post .show-post-a {
  color: #333;
}
.main-post .section-post .article-post .show-post:hover {
  background-color: #007bff;
}
.main-post .section-post .article-post .show-post:hover a {
  color: white;
}
@media (min-width: 768px) {
  .main-post .section-post {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .main-post .section-post .article-post {
    width: calc(50% - 40px);
    margin: 20px;
  }
}
@media (min-width: 1024px) {
  .main-post .section-post {
    flex-direction: row;
  }
  .main-post .section-post .article-post {
    width: calc(25% - 40px);
    margin: 20px;
  }
}

.main-show-post {
  max-width: 1000px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.main-show-post .container-show-post {
  padding: 1em;
}
.main-show-post .container-show-post h2 {
  margin-bottom: 10px;
}
.main-show-post .container-show-post .author,
.main-show-post .container-show-post .category,
.main-show-post .container-show-post .date {
  color: #777;
  margin-bottom: 10px;
}
.main-show-post .container-show-post img {
  max-width: 100%;
  display: block;
  margin: 10px auto;
}
.main-show-post .container-show-post .content {
  font-size: 18px;
  margin: 20px auto;
}
.main-show-post .container-show-post a {
  display: block;
  text-align: center;
  border: 2px solid #ccc;
  color: #000;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  width: 120px;
  margin: auto;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}
.main-show-post .container-show-post a:hover {
  background-color: #ccc;
}

/* Styles de base pour les formulaires d'édition */
.admin-form {
  max-width: 300px;
  padding: 20px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 10px 30px 0 rgba(25, 46, 59, 0.3);
}
.admin-form h2 {
  margin-bottom: 20px;
}
.admin-form .form-errors {
  color: red;
  margin-bottom: 10px;
}
.admin-form fieldset {
  border: none;
}
.admin-form fieldset label {
  display: block;
  padding-bottom: 5px;
}
.admin-form fieldset input select {
  width: 100%;
  padding: 10px;
  margin-top: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.admin-form button[type=submit] {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.admin-form button[type=submit]:hover {
  background-color: #0056b3;
}

.header-admin {
  padding: 0 12px;
  z-index: 2;
  max-width: 769px;
  background: #333;
  box-sizing: border-box;
  border-bottom: 1px solid #fff;
}
.header-admin .header-admin-title {
  line-height: 50px;
  font-size: 24px;
  margin-top: 0;
}
.header-admin #header-admin-menu-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  overflow: hidden;
  background: #fff;
  color: #000;
  line-height: 50px;
  text-align: center;
  font-size: 40px;
  cursor: pointer;
  transition: all 0.5s;
}
.header-admin #header-admin-menu-button::after {
  content: "x";
}
.header-admin #header-admin-menu-button.close {
  color: #fff;
  background: #333;
}
.header-admin #header-admin-menu-button.close::after {
  content: "≡";
}

#header-admin-menu {
  transition: transfrom 0.5s;
  position: absolute;
  width: 50%;
  max-width: 200px;
  transform: translateY(-500px);
  top: 0;
}
#header-admin-menu ul {
  display: block;
  list-style: none;
  padding-left: 0;
}
#header-admin-menu ul li {
  height: 50px;
  line-height: 50px;
  padding: 0 12px;
  border-bottom: 1px solid #777;
  background: #333;
}
#header-admin-menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: 0.2s;
}
#header-admin-menu ul li a:hover {
  color: #ff9900;
}

#header-admin-menu.show-menu {
  transform: translateY(51px);
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header-admin {
    max-width: 1024px;
  }
}
@media (min-width: 1024px) {
  .header-admin {
    max-width: none;
    width: 100%;
  }
}
.manage-admin {
  max-width: 769px;
  margin: 0 auto;
}
.manage-admin h2 {
  padding: 1em;
}
.manage-admin .button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 1em;
}
.manage-admin .button-container .dashboard-button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.manage-admin .button-container .dashboard-button:hover {
  background-color: #333;
  color: #fff;
}
.manage-admin .admin-message {
  background-color: #ff5555;
  color: #fff;
  width: 50%;
  padding: 10px;
  text-align: center;
  margin: 1em;
  border-radius: 40px;
}
.manage-admin .admin-table-container {
  width: 100%; /* Ajustez la largeur selon vos besoins */
  overflow-x: auto; /* Activer le défilement horizontal */
  padding-left: 1em;
}
.manage-admin .admin-table-container .admin-table {
  width: 100%;
  border-collapse: collapse;
}
.manage-admin .admin-table-container .admin-table th {
  background-color: #333;
  color: #ddd;
}
.manage-admin .admin-table-container .admin-table th, .manage-admin .admin-table-container .admin-table td {
  padding: 10px;
  border: 1px solid #333;
}
.manage-admin .admin-table-container .admin-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.manage-admin .admin-table-container .admin-table .admin-table-btn {
  display: flex;
  gap: 10px;
}
.manage-admin .admin-table-container .admin-table .admin-table-btn a {
  text-decoration: none;
  padding: 8px 16px;
  border: 1px solid #007bff;
  color: #007bff;
  background-color: transparent;
  border-radius: 10px;
}
.manage-admin .admin-table-container .admin-table .admin-table-btn a:hover {
  background-color: #007bff;
  color: #fff;
}
.manage-admin .admin-table-container .admin-table .album-dropdown {
  display: none;
}
.manage-admin .admin-table-container .admin-table .album-dropdown .album-song-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.manage-admin .admin-table-container .admin-table .album-dropdown .album-song-list li {
  display: inline-block;
  margin: 10px;
}
.manage-admin .admin-table-container .album-toggle {
  cursor: pointer;
  color: #007bff;
}
.manage-admin .admin-btn {
  display: flex;
  gap: 20px;
  margin: 1em;
}
.manage-admin .admin-btn a {
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}
.manage-admin .admin-btn a:hover {
  background-color: #0056b3;
}
.manage-admin .admin-btn a:last-child {
  background-color: #dc3545;
}
.manage-admin .admin-btn a:last-child:hover {
  background-color: #c82333;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .manage-admin {
    max-width: 1024px;
  }
}
@media (min-width: 1024px) {
  .manage-admin {
    min-width: 1024px;
  }
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
}

.modal-content {
  background-color: white;
  width: 300px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.album-toggle {
  cursor: pointer;
}

.album-dropdown {
  display: none;
}

@font-face {
  font-family: "Satoshi-Regular";
  src: url("/ZERODEGRE_/assets/fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Italic";
  src: url("/ZERODEGRE_/assets/fonts/Satoshi-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Bold";
  src: url("/ZERODEGRE_/assets/fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Black";
  src: url("/ZERODEGRE_/assets/fonts/Satoshi-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "libreCaslonText-Regular";
  src: url("/ZERODEGRE_/assets/fonts/libreCaslonText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "libreCaslonText-Italic";
  src: url("/ZERODEGRE_/assets/fonts/libreCaslonText-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "libreCaslonText-Bold";
  src: url("/ZERODEGRE_/assets/fonts/libreCaslonText-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: bold;
}
body {
  font-family: "Satoshi-Regular", sans-serif;
  background-color: linear-gradient(180deg, rgb(21, 19, 42) 0%, rgb(60, 76, 173) 100%);
}

h1, h2, h3, h4 {
  font-family: "libreCaslonText-Regular", sans-serif;
}

label {
  font-family: "Satoshi-Bold";
}

textarea, input {
  background-color: #EFECE5;
  border-radius: 6px;
}

a {
  text-decoration: none;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

/*# sourceMappingURL=style.css.map */
